html {
	columns: #222222;
	line-height: 1.4;
	height: 100%;
	font-size: 18px;
}

body {
	height: 100%;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #4c3167;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	padding: 20px 30px;
}

.content {
	height: 100%;
	background-color: #cc1fde;
	color: #000000;
}

.menu li {
	display: inline-block;
}

.menu li a {
	color: #ffffff;
	padding: 10px 15px;
	line-height: 40px;
}

section {
	padding: 10px 15px;
	line-height: 1.5;
}

.menu-toggle {
	margin-bottom: 10px;
	padding: 10px 15px;
	cursor: pointer;
	color: #ffffff;
	display: none;
}

.icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.hamburger {
	width: 40px;
	height: 4px;
	margin-left: 12px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	display: inline-block;
	transition: all 0.3s ease-in;
}

.hamburger::before,
.hamburger::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 4px;
	background-color: #fff;
	transition: all 0.3s ease-in;
}

.hamburger::before {
	top: 16px;
	transition: all 0.3s ease-in;
}

.hamburger::after {
	top: -16px;
	transition: all 0.3s ease-in;
}

.icon.active .hamburger {
	background-color: rgba(0, 0, 0, 0);
}

.icon.active .hamburger::before {
	top: 0;
	transform: rotate(135deg);
}

.icon.active .hamburger::after {
	top: 0;
	transform: rotate(45deg);
}

@media (max-width: 650px) {
	.menu-toggle {
		display: block;
	}

	.menu {
		display: none;
	}

	.menu li {
		display: block;
	}
}
